/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  overscroll-behavior-y: none;
  transition: 0.3s;
}
html {
  height: 100%;
  width: 100%;
  line-height: 1.6;
  font-family: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.topnav {
  padding: 14px 32px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 20;
}
.topnav a {
  text-decoration: none;
  color: #66666e;
  padding: 14px 87px;
  transition: 0.3s;
}
.topnav a:hover {
  color: black;
  transition: 0.3s;
}

.banner {
  text-align: center;
}

h1 {
    font-size: 57px;
    font-family: "Skranji", serif;
}
h2 {
    font-size: 32px;
    font-family: "Skranji", serif;
}

h3 {
    font-family: "Skranji", serif;
}
a {
    color: black;
    text-decoration: none;
    font-family: "Hepta Slab", serif;
}

a:hover {
    cursor: pointer;
    color: #66666e;
    transition: 0.3s;
}

.bold,
strong {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 5px 8px 5px 8px;
  line-height: 2;
  font-family: "Lato", sans-serif;
}
.bold:hover {
  box-shadow: none;
  transition: 0.5s;
}

p {
  font-family: "Hepta Slab", serif;
}

button {
  background-color: white;
  padding: 5px 10px;
  font-family: "Skranji", serif;
  transition: 0.3s;
  border: 2px solid black;
}
button:hover {
  cursor: pointer;
  background-color: rgb(189, 189, 189);
}

.banner {
  padding-top: 100px;
  padding-right: 150px;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.section {
  padding: 100px 200px 25px 200px;
}

ul {
  list-style-type: circle;
}

.footer {
  text-align: center;
}

@media (max-width: 720px) {
  .topnav {
    padding: 14px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .section {
    padding: 25px 50px 25px 50px;
  }
  .column-right {
    width: 100%;
  }
}
